aiofiles
aiohttp
asyncpg
bcrypt
click
docker
fastapi
importlib-metadata
kubernetes
lz4
mkl
networkx
numba
numpy
opentelemetry-api
opentelemetry-sdk
pandas
passlib
prometheus-client
psutil
nvidia-ml-py3
openvino
pyperf
python-socketio
PyJWT
PyYAML
redis
requests
rich
scikit-learn
starlette
uvicorn
uvloop
websocket-client
zstandard
